@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles or overrides here if needed */
html {
  scroll-behavior: smooth; /* Smooth scrolling for anchor links */
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}